* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #75aac3;
    background-clip: content-box;
    background-image: linear-gradient(to bottom right, #75aac3, #9da1a2);
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
